body {
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
}

/* Header Section */

header {
    background-color: #333;
    color: white;
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Spaces items logo and nav */
    align-items: center; /* Aligns items vertically */
    padding: 15px 50px;
}

h1 {
    padding-left: 35px;
}


/* Navigation Items */

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Makes the navigation bar horizontal */
    gap: 20px; /* add space between items */

}

nav ul li {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* About Section */

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

#about h2 {
    text-align: center;
    flex: 1;
}

/* Profile Image */

#about img {
    width: 120px; /* Sets the image size */
    border-radius: 50%; /* Makes image circular */
}

/* Projects section */

#projects ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

#projects ul li{
    background: #f4f4f4;
    padding: 15px 20px;
    border-radius: 8px;
    list-style: none;
}

#projects ul :hover {
    color: red;
    cursor:pointer;
}

#projects {
    text-align: center;
}

/* contact section */

#contact {
    text-align: center;
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}